.main_layout {
  min-height: 100vh;
  & .layout_sider_menu {
    margin-top: 65px;
  }
  & .layout_header {
    background: #fff;
    padding: 0;
  }
  & .layout_content {
    margin: 24px 16px;
    padding: 24px;
    background: #fff;
  }
  & .main_sublayout {
    min-height: 100vh;
    height: fit-content;
  }
  & .trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
  }
}
